.topnav img{
  width: 175px;
}
.topnav{
  background-color: #333333;
}
.topnavlinks{
  background-color: #333333;
  display: inline-block;
}
#socialmeds a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.1rem;
  padding-left: 1rem;
}
#socialmeds a:hover{
  color: #E10000;
}
#redirects a{
  padding-left: 10rem;
  text-decoration: none;
  color: #E10000;
  font-size: 1.3rem;
  padding-right: 7rem;
  font-family: 'Gemunu Libre', sans-serif;
}

#redirects a:hover{
  color: #FFFFFF;
}
.whatwedo{
  text-align: center;
  background-color: #333333;
}
.do{
  display: inline-block;
  padding: 2rem;
}
.do h1{
  font-size: 2.5rem;
  text-align: left;
  padding-right: 3rem;
  color: #E10000;
  font-family: 'Gemunu Libre', sans-serif;
}
.do img{
  width: 400px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.do p{
  color: #FFFFFF;
  width: 400px;
  text-align: left;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}
.loginform{
  width: 1000px;
  padding-left: 27rem;
  padding-top: 8rem;
}
td{
  border-style: solid;
  border-color: #333333;
  border-width: .3rem;
}
body{
  background-image: url(bighero3.jpeg);
}
input[type="password"] {
    letter-spacing: 0.125em;
}
input[type="text"] {
  ont-family: 'Gemunu Libre', sans-serif;  
}
.submit{
  text-align: center;
  font-size: 1.5rem;
  width: 10rem;
    border-width: .3rem;
  border-color: #333333;

}
.submitbutton{
  text-align: center;
}

